{
  "rules": {
    "semi": 0,
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "no-trailing-spaces": "error",
    "comma-dangle": ["error", "only-multiline"],
    "object-curly-spacing": 2,
    "react/prop-types": [2, { "ignore": ["children"] }]
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  }
}
