.wrapper {
  display: flex;
  padding: $offset;
}

.tabletListWrapper {
  width: 100%;
  margin-right: $offset;
}

.tabletList {
  display: flex;
  flex-direction: column;
  padding: $offset;
}

.newTabletWrapper {
  width: 360px;
}
