.wrapper {
  position: relative;
}

.canvas {
  transform-origin: top left;

}

.cursor {
  width: 13px;
  height: 20px;
  position: absolute;
  pointer-events: none;
  transition-duration: 100ms;
  transition-property: top, left;
}
